.App {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #eee;
}

.App-header {
  font-size: 40px;
  font-weight: 100;
  padding: 40px 0;
  text-decoration: underline;
}

.App-main {
  width: 50%;
}

.App-addTask {
  font-size: 20px;
  width: 100%;
  padding: 20px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.App-taskList {
  margin: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
