.App {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  text-align: center;
}

.App-header,
.App-main {
  width: 100%;
  max-width: 500px;
}

.App-refresh {
  border: none;
  background: none;
  font: inherit;
  text-decoration: underline;
  cursor: pointer;
}

.App-title {
  margin: 40px 0;
  font-size: 40px;
  font-weight: 100;
}

.App-addTask {
  font-size: 20px;
  width: 100%;
  padding: 20px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
}

.App-main {
  overflow: auto;
}

.App-taskList {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-loading {
  margin: 0;
  margin-top: 20px;
}

.App-taskListItem {
  border-bottom: 1px solid #eee;
  width: 100%;
}

.App-taskListItem:last-child {
  border-bottom: none;
}
