.AuthBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.AuthBar-displayName {
  color: #5dc2af;
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.AuthBar-displayName::before {
  display: inline-block;
  height: 20px;
  margin-right: 10px;
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="#5dc2af" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"/></svg>');
}

.AuthBar-mainButton {
  border-color: #fff;
  background-color: #fff;
  color: #5dc2af;
  text-transform: none;
  display: flex;
}

.AuthBar-mainButton:focus {
  border-color: #bddad5;
}

.AuthBar-dialog {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 90%;
  max-width: 300px;
  position: fixed;
  bottom: calc(50% - 140px);
}

@media (max-height: 300px) {
  .AuthBar-dialog {
    height: 100%;
    bottom: 0;
    overflow: auto;
  }
}

.AuthBar-dialog::backdrop,
.AuthBar-dialog + .backdrop {
  position: fixed;
  background: #eee;
}

.AuthBar-dialog > * {
  flex-shrink: 0;
}

.AuthBar-hasAccount {
  margin: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.AuthBar-hasAccountCheckbox {
  margin: 0 10px 0 2px;
}

.AuthBar-hasAccountCheckbox:focus {
  outline: solid 2px #ccc;
}

.AuthBar-hasAccountCheckbox:disabled ~ span {
  color: #999;
}

.AuthBar-input {
  display: block;
  font: inherit;
  font-size: 16px;
  margin: 15px 10px;
  color: inherit;
  padding: 0;
  outline: none;
  border: none;
  border-top: 2px solid rgba(0, 0, 0, 0);
  border-bottom: 2px solid #eee;
  transition: border 200ms;
}

.AuthBar-input:focus {
  border-bottom: 2px solid #ccc;
}

.AuthBar-input:disabled,
.AuthBar-input::placeholder {
  color: #999;
}

.AuthBar-input:invalid {
  border-bottom: 2px solid #af5b5e;
}

.AuthBar-errorMessage {
  margin: 10px;
  font-size: 13px;
  font-style: italic;
  color: #af5b5e;
}

.AuthBar-controls {
  display: flex;
  align-items: center;
  margin: 10px;
}

.AuthBar-cancel {
  background-color: #eee;
  border-color: #eee;
}

.AuthBar-controls > span {
  flex: 1;
}

.AuthBar-loading {
  margin: -10px 5px -10px 5px;
}

.AuthBar-submit {
  color: #5dc2af;
  background-color: #eee;
  border-color: #eee;
}

.AuthBar-submit:focus {
  border-color: #bddad5;
}

.AuthBar-isSubmitting .AuthBar-submit {
  color: #bddad5;
}
