.EditableTask-editableText {
  font: inherit;
  text-decoration: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  border-top: 2px solid rgba(0, 0, 0, 0);
  border-bottom: 2px solid #999;
  width: 100%;
}
