.Task {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: white;
  padding: 10px;
  position: relative;
}

.Task-loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 6px;
  pointer-events: none;
}

.Task-checkbox {
  appearance: none;
  outline: none;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  position: relative;
}

.Task-checkbox::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  background: #ededed;
  width: 100%;
  height: 100%;
  transform: scale(0.1);
  opacity: 0;
  transition: transform 200ms, opacity 200ms;
}

.Task-checkbox:active::before {
  transform: scale(1);
  opacity: 1;
}

.Task-checkbox:checked::before {
  background: #bddad5;
}

.Task-checkbox::after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -10 120 120"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}

.Task-checkbox:focus::after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -10 120 120"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="10"/></svg>');
}

.Task-checkbox:checked::after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -10 120 120"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

.Task-checkbox:checked:focus::after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -10 120 120"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="10"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

.Task-text {
  font: inherit;
  font-size: 16px;
  margin: 0;
  flex: 1;
  color: inherit;
  padding: 0;
  outline: none;
  border: none;
  border-top: 2px solid rgba(0, 0, 0, 0);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: border 200ms;
  min-width: 0px;
}

.Task-text:focus {
  border-bottom: 2px solid #ededed;
}

.Task-text:disabled {
  color: #999;
}

.Task-isComplete .Task-text {
  color: #999;
  text-decoration: line-through;
}

.Task-delete {
  margin: 0;
  padding: 0;
  font-size: 35px;
  line-height: 30px;
  padding-bottom: 6px;
  border: none;
  background: none;
  font-weight: 100;
  width: 40px;
  height: 40px;
  text-align: center;
  outline: none;
  position: relative;
  opacity: 0;
  color: #af5b5e;
  transition: opacity 200ms;
}

.Task-delete:focus,
.Task-delete:hover {
  opacity: 1;
}

.Task-delete:disabled {
  opacity: 0;
}

.Task-delete::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  background: #af5b5e;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale(0.1);
  opacity: 0;
  transition: transform 200ms, opacity 200ms;
}

.Task-delete:active::before {
  transform: scale(1);
  opacity: 0.2;
}

.Task-delete::after {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 200ms;
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -10 120 120"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="10"/></svg>');
}

.Task-delete:focus::after {
  opacity: 1;
}

.Task-delete:active::after {
  opacity: 0;
}
