.TextButton {
  border: none;
  border-radius: 2px;
  padding: 6px 10px;
  overflow: hidden;
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border 200ms, box-shadow 200ms;
}

.TextButton:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.TextButton:active {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.TextButton::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: -10%;
  left: -10%;
  padding-bottom: 120%;
  border-radius: 50%;
  background: currentColor;
  transform: translateY(-50%) scale(0.1);
  opacity: 0;
  transition: transform 200ms, opacity 200ms;
}

.TextButton:active::before {
  transform: translateY(-50%) scale(1);
  opacity: 0.2;
}

.TextButton::after {
  content: "";
  position: absolute;
  display: block;
  border-width: 2px;
  border-style: solid;
  border-radius: 2px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  will-change: opacity;
  transition: opacity 200ms;
}

.TextButton:focus::after {
  opacity: 1;
}

.TextButton:active::after {
  opacity: 0;
}
